.button-add {
  font-size: 14px;
  background-color: $white;
  width: 90px;
  padding: 5px;
  border: 1px solid $grey;
  color: $blue;

  &:hover {
    border-color: $blue;
  }

  &:focus {
    border-color: $blue;
    outline: 1px $blue solid;
  }
}

.button-add--term {
  background-image: url('../../../../assets/images/icons/icon-calendar-dots.svg');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 4px 3px;
  padding-left: 15px;
}