.create-todo-form {
  width: 100%;
  box-shadow: 0px 1px 3px $black;
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-todo-form__input-wrapper {
  display: flex;
  gap: 20px;
  width: 100%;
  padding: 5px;
  padding-left: 15px;
  align-items: center;
}


.create-todo-form__button-plus {
  cursor: pointer;
  position: relative;
  width: 20px;
  height: 20px;

  @media (min-width: 1024px) {
    width: 26px;
    height: 26px;
  }

  span {
    position: absolute;
    height: 1px;
    width: 18px;
    background-color: $blue;
    top: 9.5px;
    left: 1px;
    border-radius: 1px;

    @media (min-width: 1024px) {
      width: 24px;
      height: 2px;
      top: 12px;
    }

    &:first-child {
      transform: rotate(90deg);
    }
  }

  &:focus {
    outline: 1px $blue solid;
  }
}

.create-todo-form__label-title {
  width: 100%;
}

#title {
  padding: 5px;
  border: none;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;

  @media (min-width: 1024px) {
    font-size: 22px;
    padding: 10px;
  }

  &::-webkit-input-placeholder {
    color: $blue;
  }

  &:focus {
    outline: none;
    &::-webkit-input-placeholder {
      color: $black;
    }
  }
}

.create-todo-form__buttons {
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  padding: 0 10px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: $body-color;
  border-top: 1px solid $grey;
  animation: closeform 0.1s;
}

@keyframes closeform {
  from {
    max-height: 100%;
    padding: 10px 10px;
  }

  to {
    max-height: 0;
    padding: 0 10px;
  }
}

.create-todo-form__buttons--open {
  padding: 10px;
  max-height: 100%;
  animation: openform 0.3s;
}

@keyframes openform {
  from {
    max-height: 0;
    padding: 0 10px;
  }

  to {
    max-height: 100%;
    padding: 10px 10px;
  }
}

.create-todo-form__buttons-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  @media (min-width: 1024px) {
    gap: 20px;
  }
}

.create-todo-form__all-buttons-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-todo-form__timers-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 14px;
  margin-top: 10px;
  gap: 10px;
}

.create-todo-form__timers-wrapper--void {
  margin-top: 0;
}

.create-todo-form__timer {
  display: flex;
  gap: 5px;
  padding: 5px;
  padding-left: 25px;
  background-position: 5px 6px;
  background-repeat: no-repeat;
  background-size: 14px;
  background-color: $white;
  border: $blue 1px solid;
  border-radius: 10px;

  @media (min-width: 1024px) {
    background-size: 24px;
    font-size: 18px;
    padding: 10px;
    padding-left: 35px;
    background-position: 8px 8px;
  }
}

.create-todo-form__timer--term {
  background-image: url('../../assets/images/icons/icon-calendar-dots.svg');
}

.create-todo-form__timer--reminder {
  background-image: url('../../assets/images/icons/icon-bell.svg');
}

.create-todo-form__timer--repeat {
  background-image: url('../../assets/images/icons/icon-repeat-arrows.svg');
}


