.button-add-to-favorites {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url('../../../../assets/images/icons/icon-star-no-fill.svg');
  background-position: center;
  background-size: 20px;
  background-repeat: no-repeat;

  &--added {
    background-image: url('../../../../assets/images/icons/icon-star-filled.svg');
  }

  @media (min-width: 1024px) {
    width: 30px;
    height: 30px;
    background-size: 30px;
  }
}

