.side-menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 8px 0 8px 40px;
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: 14px 8px;
  cursor: default;

  &:hover {
    background-color: rgb(238, 238, 238);
  }

  &:active {
    background-color: rgb(238, 238, 238);
  }

  &:focus {
    border-left: solid 4px blue;
    background-color: rgb(226, 226, 255);
    font-weight: 700;
    background-position: 10px 8px;
    padding-left: 36px;
  }
}

.side-menu-button--all {
  background-image: url('../../../../assets/images/icons/icon-home.svg');
}

.side-menu-button--favorite {
  background-image: url('../../../../assets/images/icons/icon-star.svg');
}

.side-menu-button--late {
  background-image: url('../../../../assets/images/icons/icon-calendar-dots.svg');
}

.side-menu-button--completed {
  background-image: url('../../../../assets/images/icons/icon-check-square-broken.svg');
}