.left-menu {
  z-index: 10;
  padding-top: 30px;
  height: 100%;
  width: 60%;
  position: absolute;
  top: 40px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

@keyframes closemenu {
  from {
    left: 0;
  }

  90% {
    left: -60%
  }

  to {
    display: none;
  }
}

.left-menu--close {
  left: -60%;
  animation: closemenu 0.5s;
}

@keyframes openmenu {
  from {
    left: -60%;
  }

  to {
    left: 0;
  }
}

.left-menu--open {
  left: 0;
  animation: openmenu 0.5s;
}
