.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.3);
  z-index: 10;
}

.popup--open {
  display: flex;
  animation: open-popup 0.5s;
}

@keyframes open-popup {
  from {
    background-color: rgb(0, 0, 0, 0)
  }

  to {
    background-color: rgb(0, 0, 0, 0.3)
  }
}

.popup--closing {
  background-color: rgb(0, 0, 0, 0);
  animation: close-popup 0.5s;
}

@keyframes close-popup {
  from {
    background-color: rgb(0, 0, 0, 0.3)
  }

  to {
    background-color: rgb(0, 0, 0, 0)
  }
}

.popup--close {
  display: none;
}