.button-form {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px;
  border-radius: 5px;
  border: none;
  
  &:hover {
    background-color: $white;
  }
}

.button-form--bell {
  background-image: url('../../Icons/icon-bell.svg');
}

.button-form--calendar {
  background-image: url('../../Icons/icon-calendar-2.svg');
}

.button-form--refresh {
  background-image: url('../../Icons/icon-arrows-refresh.svg');
}