.button-form {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px;
  border-radius: 5px;
  border: none;
  
  &:hover {
    background-color: $white;
  }
}

.button-form--term {
  background-image: url('../../../../assets/images/icons/icon-calendar-dots.svg');
}

.button-form--reminder {
  background-image: url('../../../../assets/images/icons/icon-bell.svg');
}

.button-form--repeat {
  background-image: url('../../../../assets/images/icons/icon-repeat-arrows.svg');
}